.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E3830;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.logo-link {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    /* Adjust the height to fit your design */
    width: auto;
}

span {
    margin-right: auto;
    /* Adjust as needed to space out the logo from the navigation links */
    color: white;
}